<!DOCTYPE html>
<html lang="en">
<head>
    <!--icon stylesheet link-->    
    <link rel="stylesheet" type="text/css" href="/css/login-signup.css"
	th:href="@{/css/STUDENT/search.css}" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="profile">
                <img src="../dp.jpg" alt="dp">
                <h3> John Doe </h3>
                <p> Student </p>
            </div>

            <!-- menu items -->

            <ul>
                <li><a th:href="@{'/student/profile?studentId=' + ${studentId}}">
                    <span class="icon"><i class="fa-solid fa-address-card"></i></span>
                    <span class="item"> My Profile</span>
                </a></li>
                <li><a th:href="@{'/student/course?studentId=' + ${studentId}}"  >
                    <span class="icon"><i class="fa-solid fa-book"></i></span>
                    <span class="item"> My Courses</span>
                </a></li>
                <li><a th:href="@{'/student/explore?studentId=' + ${studentId}}" >
                    <span class="icon"><i class="fa-brands fa-wpexplorer"></i></span>
                    <span class="item"> Explore</span>
                </a></li>
                <li><a th:href="@{'/student/doubt?studentId=' + ${studentId}}">
                    <span class="icon"><i class="fa-solid fa-circle-question"></i></span>
                    <span class="item"> My Doubts</span>
                </a></li>
                <li><a th:href="@{'/student/ta?studentId=' + ${studentId}}">
                    <span class="icon"><i class="fa-solid fa-person"></i></i></span>
                    <span class="item">Teaching Assist.</span>
                </a></li>
                <li><a th:href="@{'/student/search?studentId=' + ${studentId}}" class="selected-menu">
                    <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <span class="item">Search</span>
                </a></li>
                <li><a th:href="@{/user/logout}" >
                    <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                    <span class="item">Log Out</span>
                </a></li>
            </ul>
        </div>

        <div class="nav-bar">
            <div class="btn">
                <button> <a href=""> Search Student </a></button>
                <button> <a href=""> Search Course </a></button>
                <button> <a href=""> Search TA </a></button>
            </div>
        </div>

        <div class="search-wrapper">
            <div class="search-bar">
                <form action="">
                    <input type="text" name="" id="" placeholder="Search By Username">
                    <button type="submit"><a> Search </a></button>
                </form>
            </div>
        </div>


        <div class="student-wrapper">
            <div class="student">
                <h3>John Doe</h3>
                <p>Government Enggineering Chandrapur</p>
                <p>Courses Taken - 5</p>
                <p>Total Doubts Asked - 15</p>
                <p>DOB - 15/12/1999</p>
            </div>

        </div>

    </div>
</body>
</html>